.content-wrapper{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

#header-content-wrapper{
    text-align: center;
}

#header-nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
}

#main-section{
    width: 100%;
    margin-top: 55px;
}

.text{
    font-family: sans-serif;
}

#header-title{
    text-align: center;
    display: inline;
}


#new-todo-form{
    margin: 0 2rem;
}

#title-input{
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 85%;
    padding-left: 0.5rem;
}


#submit-button{
    width: 10%;
    float: right;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
}


#title-input:focus{
    border: 3px solid gray;
    background-color: rgb(239, 239, 239);
}

#submit-button:hover{
    background-color: gray;
    cursor: pointer;
}

.far:hover{
    color: gray;
    cursor: pointer;
}

#sort-input{
    float: right;
    display: inline;
    margin-right: 1rem;
    margin-top: 0.5rem;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#sort-input:hover{
    background-color:rgb(239, 239, 239);
}