/*List element styling*/
#todo-list-ul{
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    border-bottom: 2px solid lightgray;
}

.todo-list-element{
    border-top: 2px solid lightgray;
    border-collapse: collapse;
    padding: 0.5rem 0;
}

.delete-button{
    float: right;
    margin-right: 2rem;
}

.todo-title{
    display: inline;
    margin: 0 0.5rem 0 1rem;
}

.complete{
    text-decoration-line: line-through;
}

.incomplete{
    text-decoration-line: none;
}

.text{
    font-family: sans-serif;
}

.far:hover{
    color: gray;
    cursor: pointer;
}

